<h1>Connexion avec Flow</h1>


<div data-controller="flow-auth">

    <p data-flow-auth-target="statusText">Not Connected</p>
    <p data-flow-auth-target="walletAddress" style="display: none;">
        Address: <span data-flow-auth-target="addressText"></span>
    </p>

    <button data-flow-auth-target="loginButton" style="display:none;" data-action="click->flow-auth#login">Login</button>
    <button data-flow-auth-target="logoutButton" style="display:none;" data-action="click->flow-auth#logout">Logout</button>

</div>